{% extends "main.html" %}
{% block content %}
<center>
    <br>
    <br>
    <h1>All About Project</h1>
    <div class="about_info">
        <p class="about_p">This To-Do List Web Application is built using Django's CRUD operations, allowing users to create, read, update, and delete tasks efficiently. The project follows the MVC (Model-View-Controller) architecture and demonstrates key Django features such as:</p>
    <li class="about_list">
        <ol>Django Framework</ol>
        <ol>Template Handling</ol>
        <ol> CRUD Operations</ol>
        <ol>URL Routing</ol>
        <ol> Django Template Language (DTL)</ol>
        <ol> CSRF Protection</ol>
        <ol>GET & POST Methods </ol>
    </li>
    </div>
</center>
{% endblock content %}
