{% extends "main.html" %}
{% block content %}
<center>
    <div class="add_info">
        <form class='add_form' action="" method="POST">
            {% csrf_token %}
            <div class="add_title">
                <label id='add_label' for="">Title:</label >
                <input type="text" name="title" id='add'>
            </div>

            <div class="add_desc">
                <label for="">Desc:</label>
                <input type="text" name="desc" id='desc_add'>
            </div>

            <button id='add_submit'>Submit</button>
        </form>
    </div>
</center>
{% endblock content %}
